.list-item .data.image a[href*="/1/"]:before {background-image: url(http://i.imgur.com/1Uze6L4.jpg);}
.list-item .data.image a[href*="/5/"]:before {background-image: url(http://i.imgur.com/BSCXVKu.jpg);}
.list-item .data.image a[href*="/6/"]:before {background-image: url(http://i.imgur.com/uD69WRn.jpg);}
.list-item .data.image a[href*="/16/"]:before {background-image: url(http://i.imgur.com/nD6sejs.jpg);}
.list-item .data.image a[href*="/20/"]:before {background-image: url(http://i.imgur.com/9P9GTRa.jpg);}
.list-item .data.image a[href*="/30/"]:before {background-image: url(http://i.imgur.com/xZ146nc.jpg);}
.list-item .data.image a[href*="/31/"]:before {background-image: url(http://i.imgur.com/guyAoFg.jpg);}
.list-item .data.image a[href*="/32/"]:before {background-image: url(http://i.imgur.com/A8OxzU9.jpg);}
.list-item .data.image a[href*="/47/"]:before {background-image: url(http://i.imgur.com/Z3SxTqL.jpg);}
.list-item .data.image a[href*="/59/"]:before {background-image: url(http://i.imgur.com/7EuEFdo.jpg);}
.list-item .data.image a[href*="/93/"]:before {background-image: url(http://i.imgur.com/VmCkBgk.jpg);}
.list-item .data.image a[href*="/102/"]:before {background-image: url(http://i.imgur.com/n8l8PCK.jpg);}
.list-item .data.image a[href*="/149/"]:before {background-image: url(http://i.imgur.com/hgltD2i.jpg);}
.list-item .data.image a[href*="/164/"]:before {background-image: url(http://i.imgur.com/S1uyyGW.jpg);}
.list-item .data.image a[href*="/199/"]:before {background-image: url(http://i.imgur.com/C95qf85.jpg);}
.list-item .data.image a[href*="/205/"]:before {background-image: url(http://i.imgur.com/0gkutIv.jpg);}
.list-item .data.image a[href*="/223/"]:before {background-image: url(http://i.imgur.com/wVMzfMw.jpg);}
.list-item .data.image a[href*="/227/"]:before {background-image: url(http://i.imgur.com/79HRCia.jpg);}
.list-item .data.image a[href*="/243/"]:before {background-image: url(http://i.imgur.com/s2p1VBk.jpg);}
.list-item .data.image a[href*="/247/"]:before {background-image: url(http://i.imgur.com/S1NxNPf.jpg);}
.list-item .data.image a[href*="/249/"]:before {background-image: url(http://i.imgur.com/oKC82J1.jpg);}
.list-item .data.image a[href*="/251/"]:before {background-image: url(http://i.imgur.com/2dKAbJT.jpg);}
.list-item .data.image a[href*="/256/"]:before {background-image: url(http://i.imgur.com/AbtsKJJ.jpg);}
.list-item .data.image a[href*="/270/"]:before {background-image: url(http://i.imgur.com/mZiV7VW.jpg);}
.list-item .data.image a[href*="/322/"]:before {background-image: url(http://i.imgur.com/B86FEr6.jpg);}
.list-item .data.image a[href*="/358/"]:before {background-image: url(http://i.imgur.com/fIjlm6v.jpg);}
.list-item .data.image a[href*="/365/"]:before {background-image: url(http://i.imgur.com/iWSgJpb.jpg);}
.list-item .data.image a[href*="/404/"]:before {background-image: url(http://i.imgur.com/7L87b8k.jpg);}
.list-item .data.image a[href*="/415/"]:before {background-image: url(http://i.imgur.com/xfm8MvL.jpg);}
.list-item .data.image a[href*="/416/"]:before {background-image: url(http://i.imgur.com/5GQN51d.jpg);}
.list-item .data.image a[href*="/431/"]:before {background-image: url(http://i.imgur.com/QKxSU3X.jpg);}
.list-item .data.image a[href*="/457/"]:before {background-image: url(http://i.imgur.com/tuyTIMy.jpg);}
.list-item .data.image a[href*="/488/"]:before {background-image: url(https://imgur.com/gallery/gUpTV);}
.list-item .data.image a[href*="/512/"]:before {background-image: url(http://i.imgur.com/J7xjWAB.jpg);}
.list-item .data.image a[href*="/513/"]:before {background-image: url(http://i.imgur.com/Xhk5rTx.jpg);}
.list-item .data.image a[href*="/523/"]:before {background-image: url(http://i.imgur.com/HTF6BiS.jpg);}
.list-item .data.image a[href*="/553/"]:before {background-image: url(http://i.imgur.com/jfWzeRG.jpg);}
.list-item .data.image a[href*="/572/"]:before {background-image: url(http://i.imgur.com/OgcvfCG.jpg);}
.list-item .data.image a[href*="/578/"]:before {background-image: url(http://i.imgur.com/l1sGVWJ.jpg);}
.list-item .data.image a[href*="/585/"]:before {background-image: url(http://i.imgur.com/Ggm3Q3d.jpg);}
.list-item .data.image a[href*="/597/"]:before {background-image: url(http://i.imgur.com/xblfNTZ.jpg);}
.list-item .data.image a[href*="/634/"]:before {background-image: url(http://i.imgur.com/3k9KF4p.jpg);}
.list-item .data.image a[href*="/719/"]:before {background-image: url(http://i.imgur.com/QhyJeRD.jpg);}
.list-item .data.image a[href*="/733/"]:before {background-image: url(http://i.imgur.com/tGQ3Egd.jpg);}
.list-item .data.image a[href*="/736/"]:before {background-image: url(http://i.imgur.com/7PwKUGq.jpg);}
.list-item .data.image a[href*="/743/"]:before {background-image: url(http://i.imgur.com/hNDyPCb.jpg);}
.list-item .data.image a[href*="/755/"]:before {background-image: url(http://i.imgur.com/ZAjI127.jpg);}
.list-item .data.image a[href*="/790/"]:before {background-image: url(http://i.imgur.com/922fJql.jpg);}
.list-item .data.image a[href*="/850/"]:before {background-image: url(http://i.imgur.com/ZtHbrHq.jpg);}
.list-item .data.image a[href*="/889/"]:before {background-image: url(http://i.imgur.com/jDvv3Fl.jpg);}
.list-item .data.image a[href*="/918/"]:before {background-image: url(http://i.imgur.com/mRwFylv.jpg);}
.list-item .data.image a[href*="/977/"]:before {background-image: url(http://i.imgur.com/kby2WhB.jpg);}
.list-item .data.image a[href*="/1019/"]:before {background-image: url(http://i.imgur.com/qED84o6.jpg);}
.list-item .data.image a[href*="/1020/"]:before {background-image: url(http://i.imgur.com/WrlnMSQ.jpg);}
.list-item .data.image a[href*="/1029/"]:before {background-image: url( http://i.imgur.com/XWEeKjc.jpg);}
.list-item .data.image a[href*="/1049/"]:before {background-image: url(http://i.imgur.com/umjTsEn.jpg);}
.list-item .data.image a[href*="/1030/"]:before {background-image: url(http://i.imgur.com/XWEeKjc.jpg);}
.list-item .data.image a[href*="/1074/"]:before {background-image: url(http://i.imgur.com/q9ISZFt.jpg);}
.list-item .data.image a[href*="/1292/"]:before {background-image: url(http://i.imgur.com/gOjMewC.jpg?1);}
.list-item .data.image a[href*="/1370/"]:before {background-image: url(http://i.imgur.com/TteQ7uy.jpg);}
.list-item .data.image a[href*="/1430/"]:before {background-image: url(http://i.imgur.com/8sumqmj.jpg);}
.list-item .data.image a[href*="/1519/"]:before {background-image: url(http://i.imgur.com/QfKurwQ.jpg);}
.list-item .data.image a[href*="/1535/"]:before {background-image: url( http://i.imgur.com/rcOsQkY.jpg);}
.list-item .data.image a[href*="/1562/"]:before {background-image: url( http://i.imgur.com/bIX1V8F.jpg);}
.list-item .data.image a[href*="/1576/"]:before {background-image: url( http://i.imgur.com/1P3OzY2.jpg);}
.list-item .data.image a[href*="/1640/"]:before {background-image: url( http://i.imgur.com/OUbkzBL.jpg);}
.list-item .data.image a[href*="/1726/"]:before {background-image: url(http://i.imgur.com/Is5Hvkw.jpg);}
.list-item .data.image a[href*="/1735/"]:before {background-image: url(http://i.imgur.com/JKpcPjI.jpg);}
.list-item .data.image a[href*="/1762/"]:before {background-image: url( http://i.imgur.com/QfodpoZ.jpg);}
.list-item .data.image a[href*="/1826/"]:before {background-image: url(http://i.imgur.com/cJzbLSq.jpg);}
.list-item .data.image a[href*="/1829/"]:before {background-image: url(http://i.imgur.com/JGm1ijn.jpg);}
.list-item .data.image a[href*="/1847/"]:before {background-image: url(http://i.imgur.com/Uv0fMUZ.jpg);}
.list-item .data.image a[href*="/1888/"]:before {background-image: url(http://i.imgur.com/rPsuuzs.jpg);}
.list-item .data.image a[href*="/1909/"]:before {background-image: url(http://i.imgur.com/AztDDC8.jpg);}
.list-item .data.image a[href*="/1912/"]:before {background-image: url(http://i.imgur.com/MIIeb1f.jpg);}
.list-item .data.image a[href*="/1982/"]:before {background-image: url(http://i.imgur.com/fWOylRw.jpg);}
.list-item .data.image a[href*="/1989/"]:before {background-image: url( http://i.imgur.com/fWOylRw.jpg);}
.list-item .data.image a[href*="/1998/"]:before {background-image: url(http://i.imgur.com/5Htm5Pm.jpg);}
.list-item .data.image a[href*="/2047/"]:before {background-image: url( http://i.imgur.com/PQY72H3.jpg);}
.list-item .data.image a[href*="/2144/"]:before {background-image: url( http://i.imgur.com/f9eLiUy.jpg);}
.list-item .data.image a[href*="/2148/"]:before {background-image: url(http://i.imgur.com/227BwP5.jpg);}
.list-item .data.image a[href*="/2167/"]:before {background-image: url(http://i.imgur.com/MOIVBa5.jpg);}
.list-item .data.image a[href*="/2210/"]:before {background-image: url( http://i.imgur.com/K4fbscU.jpg);}
.list-item .data.image a[href*="/2238/"]:before {background-image: url( http://i.imgur.com/aJjznt1.jpg);}
.list-item .data.image a[href*="/2251/"]:before {background-image: url( http://i.imgur.com/O5Fza4O.jpg);}
.list-item .data.image a[href*="/2488/"]:before {background-image: url( http://i.imgur.com/qrZM941.jpg);}
.list-item .data.image a[href*="/2520/"]:before {background-image: url( http://i.imgur.com/uhEIgWw.jpg);}
.list-item .data.image a[href*="/2550/"]:before {background-image: url( http://i.imgur.com/tVAYOeK.png);}
.list-item .data.image a[href*="/2617/"]:before {background-image: url( http://i.imgur.com/rGvxltq.jpg);}
.list-item .data.image a[href*="/2716/"]:before {background-image: url( http://i.imgur.com/RUDyrQk.jpg);}
.list-item .data.image a[href*="/2730/"]:before {background-image: url( http://i.imgur.com/8LMEBwQ.jpg);}
.list-item .data.image a[href*="/2759/"]:before {background-image: url(http://i.imgur.com/FT066D7.jpg);}
.list-item .data.image a[href*="/2890/"]:before {background-image: url( http://i.imgur.com/SsM5FSM.jpg);}
.list-item .data.image a[href*="/2951/"]:before {background-image: url(http://i.imgur.com/c0UoD8w.jpg);}
.list-item .data.image a[href*="/3001/"]:before {background-image: url( http://i.imgur.com/7vvo7br.jpg);}
.list-item .data.image a[href*="/3057/"]:before {background-image: url( http://i.imgur.com/I3ma4Lb.jpg);}
.list-item .data.image a[href*="/3092/"]:before {background-image: url( http://i.imgur.com/2NQoVLM.jpg);}
.list-item .data.image a[href*="/3210/"]:before {background-image: url( http://i.imgur.com/vwRdyxC.jpg);}
.list-item .data.image a[href*="/3326/"]:before {background-image: url( http://i.imgur.com/QdTP9ZK.jpg);}
.list-item .data.image a[href*="/3358/"]:before {background-image: url( http://i.imgur.com/jwzzqUe.jpg);}
.list-item .data.image a[href*="/3389/"]:before {background-image: url( http://i.imgur.com/L6dDbIN.jpg);}
.list-item .data.image a[href*="/3401/"]:before {background-image: url( http://i.imgur.com/cXA4Y4s.jpg);}
.list-item .data.image a[href*="/3655/"]:before {background-image: url( http://i.imgur.com/a7kPNpb.jpg);}
.list-item .data.image a[href*="/3656/"]:before {background-image: url( http://i.imgur.com/9ENw4fW.jpg);}
.list-item .data.image a[href*="/3702/"]:before {background-image: url(http://i.imgur.com/F5EjxcT.jpg);}
.list-item .data.image a[href*="/3737/"]:before {background-image: url( http://i.imgur.com/unFpq2t.jpg);}
.list-item .data.image a[href*="/3784/"]:before {background-image: url(http://i.imgur.com/wmqWLse.jpg);}
.list-item .data.image a[href*="/3786/"]:before {background-image: url(http://i.imgur.com/RbHgSxi.png);}
.list-item .data.image a[href*="/3818/"]:before {background-image: url( http://i.imgur.com/cfJl0dP.jpg);}
.list-item .data.image a[href*="/3820/"]:before {background-image: url( http://i.imgur.com/cfJl0dP.jpg);}
.list-item .data.image a[href*="/3821/"]:before {background-image: url( http://i.imgur.com/cfJl0dP.jpg);}
.list-item .data.image a[href*="/3841/"]:before {background-image: url( http://i.imgur.com/yb9nIei.jpg);}
.list-item .data.image a[href*="/3930/"]:before {background-image: url( http://i.imgur.com/kNvtFZO.png);}
.list-item .data.image a[href*="/4021/"]:before {background-image: url( http://i.imgur.com/32Xb8j9.jpg);}
.list-item .data.image a[href*="/4037/"]:before {background-image: url( http://i.imgur.com/o5fDOqw.jpg);}
.list-item .data.image a[href*="/4081/"]:before {background-image: url( http://i.imgur.com/Zopd57o.jpg);}
.list-item .data.image a[href*="/4181/"]:before {background-image: url( http://i.imgur.com/iR2L1jy.jpg);}
.list-item .data.image a[href*="/4182/"]:before {background-image: url( http://i.imgur.com/h5G3ny3.jpg);}
.list-item .data.image a[href*="/4190/"]:before {background-image: url(http://i.imgur.com/OcrieEb.jpg);}
.list-item .data.image a[href*="/4306/"]:before {background-image: url( http://i.imgur.com/MMLZBl3.jpg);}
.list-item .data.image a[href*="/4353/"]:before {background-image: url( http://i.imgur.com/WfE6CYO.jpg);}
.list-item .data.image a[href*="/4458/"]:before {background-image: url( http://i.imgur.com/USMniUi.jpg);}
.list-item .data.image a[href*="/4689/"]:before {background-image: url(http://i.imgur.com/NzuYbNZ.jpg);}
.list-item .data.image a[href*="/4814/"]:before {background-image: url( http://i.imgur.com/OvfNFZP.jpg);}
.list-item .data.image a[href*="/4898/"]:before {background-image: url( http://i.imgur.com/3y6XMYN.jpg);}
.list-item .data.image a[href*="/4901/"]:before {background-image: url( http://i.imgur.com/Vq3HGjr.jpg);}
.list-item .data.image a[href*="/4923/"]:before {background-image: url( http://i.imgur.com/j2bgfYR.jpg);}
.list-item .data.image a[href*="/5060/"]:before {background-image: url( http://i.imgur.com/X38kxeF.jpg);}
.list-item .data.image a[href*="/5065/"]:before {background-image: url( http://i.imgur.com/VBEg1NJ.jpg);}
.list-item .data.image a[href*="/5114/"]:before {background-image: url(http://i.imgur.com/MV0W0ZX.jpg);}
.list-item .data.image a[href*="/5168/"]:before {background-image: url( http://i.imgur.com/K4duT8o.jpg);}
.list-item .data.image a[href*="/5270/"]:before {background-image: url( http://i.imgur.com/n4zY81v.jpg);}
.list-item .data.image a[href*="/5300/"]:before {background-image: url( http://i.imgur.com/M0fH7Oy.jpg);}
.list-item .data.image a[href*="/5525/"]:before {background-image: url( http://i.imgur.com/MfMXJ03.jpg);}
.list-item .data.image a[href*="/5631/"]:before {background-image: url( http://i.imgur.com/G0x5Pa3.jpg);}
.list-item .data.image a[href*="/5661/"]:before {background-image: url(http://i.imgur.com/QThBsx8.jpg);}
.list-item .data.image a[href*="/5681/"]:before {background-image: url( http://i.imgur.com/5D4u4Tc.jpg);}
.list-item .data.image a[href*="/5812/"]:before {background-image: url( http://i.imgur.com/P2YYZJw.jpg);}
.list-item .data.image a[href*="/5869/"]:before {background-image: url( http://i.imgur.com/99S4lyQ.jpg);}
.list-item .data.image a[href*="/5957/"]:before {background-image: url( http://i.imgur.com/kSg6qLo.jpg);}
.list-item .data.image a[href*="/6346/"]:before {background-image: url( http://i.imgur.com/QBJrazy.jpg);}
.list-item .data.image a[href*="/6421/"]:before {background-image: url(http://i.imgur.com/NJEK3Tn.jpg);}
.list-item .data.image a[href*="/6431/"]:before {background-image: url( http://i.imgur.com/DJmQgAG.jpg);}
.list-item .data.image a[href*="/6573/"]:before {background-image: url( http://i.imgur.com/sFrqdDd.jpg);}
.list-item .data.image a[href*="/6574/"]:before {background-image: url(http://i.imgur.com/fzrQvQn.jpg);}
.list-item .data.image a[href*="/6654/"]:before {background-image: url( http://i.imgur.com/iEVXQw0.png);}
.list-item .data.image a[href*="/6721/"]:before {background-image: url( http://i.imgur.com/wWF8x1d.jpg);}
.list-item .data.image a[href*="/6769/"]:before {background-image: url( http://i.imgur.com/JWmRN5o.jpg);}
.list-item .data.image a[href*="/6793/"]:before {background-image: url( http://i.imgur.com/Uqz3DeU.jpg);}
.list-item .data.image a[href*="/6797/"]:before {background-image: url( http://i.imgur.com/qVowa7d.jpg);}
.list-item .data.image a[href*="/6798/"]:before {background-image: url( http://i.imgur.com/J9hEe2w.jpg);}
.list-item .data.image a[href*="/6833/"]:before {background-image: url( http://i.imgur.com/7byUR1C.jpg);}
.list-item .data.image a[href*="/6849/"]:before {background-image: url( http://i.imgur.com/EsTzCbI.jpg);}
.list-item .data.image a[href*="/6852/"]:before {background-image: url( http://i.imgur.com/dZDyHmN.jpg);}
.list-item .data.image a[href*="/6945/"]:before {background-image: url( http://i.imgur.com/aHZ7b8B.jpg);}
.list-item .data.image a[href*="/6956/"]:before {background-image: url( http://i.imgur.com/qZ7CpVz.jpg);}
.list-item .data.image a[href*="/7255/"]:before {background-image: url( http://i.imgur.com/8iWY4Jv.jpg);}
.list-item .data.image a[href*="/7338/"]:before {background-image: url( http://i.imgur.com/A1h4csY.jpg);}
.list-item .data.image a[href*="/7338/"]:before {background-image: url( http://i.imgur.com/A1h4csY.jpg);}
.list-item .data.image a[href*="/7588/"]:before {background-image: url( http://i.imgur.com/P8YWSY3.jpg);}
.list-item .data.image a[href*="/7647/"]:before {background-image: url( http://i.imgur.com/LFZyonz.jpg);}
.list-item .data.image a[href*="/7659/"]:before {background-image: url( http://i.imgur.com/ICqT0C2.jpg);}
.list-item .data.image a[href*="/7669/"]:before {background-image: url( http://i.imgur.com/GZU1VWS.jpg);}
.list-item .data.image a[href*="/7711/"]:before {background-image: url( http://i.imgur.com/9Cz5jC4.jpg);}
.list-item .data.image a[href*="/7724/"]:before {background-image: url( http://i.imgur.com/YXVEsc2.jpg);}
.list-item .data.image a[href*="/8063/"]:before {background-image: url( http://i.imgur.com/SOMuylc.jpg);}
.list-item .data.image a[href*="/8064/"]:before {background-image: url( http://i.imgur.com/Q5fOYo4.jpg);}
.list-item .data.image a[href*="/8074/"]:before {background-image: url( http://i.imgur.com/MOip3jW.jpg);}
.list-item .data.image a[href*="/8101/"]:before {background-image: url( http://i.imgur.com/TnGSi7Z.jpg);}
.list-item .data.image a[href*="/8408/"]:before {background-image: url(http://i.imgur.com/mNsPsmc.jpg);}
.list-item .data.image a[href*="/8425/"]:before {background-image: url( http://i.imgur.com/5jq1QeO.jpg);}
.list-item .data.image a[href*="/8440/"]:before {background-image: url( http://i.imgur.com/MsW5QfH.jpg);}
.list-item .data.image a[href*="/8479/"]:before {background-image: url( http://i.imgur.com/Ntrbi5D.jpg);}
.list-item .data.image a[href*="/8557/"]:before {background-image: url( http://i.imgur.com/UUL0AQM.jpg);}
.list-item .data.image a[href*="/8713/"]:before {background-image: url( http://i.imgur.com/AVVJH14.png);}
.list-item .data.image a[href*="/8915/"]:before {background-image: url( http://i.imgur.com/GD8d9Ox.jpg);}
.list-item .data.image a[href*="/8939/"]:before {background-image: url( http://i.imgur.com/18h4Vbm.jpg);}
.list-item .data.image a[href*="/9062/"]:before {background-image: url(http://i.imgur.com/tY3mCpa.jpg);}
.list-item .data.image a[href*="/9074/"]:before {background-image: url( http://i.imgur.com/Uk0qBf4.jpg);}
.list-item .data.image a[href*="/9136/"]:before {background-image: url( http://i.imgur.com/jcCQhOt.jpg);}
.list-item .data.image a[href*="/9232/"]:before {background-image: url( http://i.imgur.com/uylQx17.jpg);}
.list-item .data.image a[href*="/9253/"]:before {background-image: url( http://i.imgur.com/5xdAZme.jpg);}
.list-item .data.image a[href*="/9279/"]:before {background-image: url( http://i.imgur.com/9PlKpNw.jpg);}
.list-item .data.image a[href*="/9598/"]:before {background-image: url(http://i.imgur.com/2NfUn7C.jpg?1);}
.list-item .data.image a[href*="/9735/"]:before {background-image: url(http://i.imgur.com/F0NQDdz.jpg);}
.list-item .data.image a[href*="/9798/"]:before {background-image: url( http://i.imgur.com/VzHacUi.jpg);}
.list-item .data.image a[href*="/9834/"]:before {background-image: url( http://i.imgur.com/IGmsaOB.jpg);}
.list-item .data.image a[href*="/9865/"]:before {background-image: url( http://i.imgur.com/uy4YDR6.jpg);}
.list-item .data.image a[href*="/9919/"]:before {background-image: url( http://i.imgur.com/Ukhyioe.jpg);}
.list-item .data.image a[href*="/9926/"]:before {background-image: url( http://i.imgur.com/atMhkR1.jpg);}
.list-item .data.image a[href*="/9969/"]:before {background-image: url(http://i.imgur.com/GixCLoJ.jpg);}
.list-item .data.image a[href*="/9989/"]:before {background-image: url( http://i.imgur.com/stpaMpI.jpg);}
.list-item .data.image a[href*="/10029/"]:before {background-image: url( http://i.imgur.com/UeUBsa3.jpg);}
.list-item .data.image a[href*="/10067/"]:before {background-image: url( http://i.imgur.com/p5feIdP.jpg);}
.list-item .data.image a[href*="/10165/"]:before {background-image: url(http://i.imgur.com/tnCz2N9.jpg);}
.list-item .data.image a[href*="/10379/"]:before {background-image: url( http://i.imgur.com/NJxVrQC.jpg);}
.list-item .data.image a[href*="/10389/"]:before {background-image: url( http://i.imgur.com/xsLFKQq.jpg);}
.list-item .data.image a[href*="/10405/"]:before {background-image: url( http://i.imgur.com/XtgpKo5.jpg);}
.list-item .data.image a[href*="/10408/"]:before {background-image: url( http://i.imgur.com/69jCIGV.jpg);}
.list-item .data.image a[href*="/10460/"]:before {background-image: url(http://i.imgur.com/elVuapp.jpg);}
.list-item .data.image a[href*="/10497/"]:before {background-image: url( http://i.imgur.com/TnbSXTF.jpg);}
.list-item .data.image a[href*="/10521/"]:before {background-image: url( http://i.imgur.com/x4ZCejv.jpg);}
.list-item .data.image a[href*="/10647/"]:before {background-image: url( http://i.imgur.com/g91BCOo.jpg);}
.list-item .data.image a[href*="/10800/"]:before {background-image: url( http://i.imgur.com/7o7Ei9L.jpg);}
.list-item .data.image a[href*="/11013/"]:before {background-image: url( http://i.imgur.com/sTsgDm5.jpg);}
.list-item .data.image a[href*="/11111/"]:before {background-image: url( http://i.imgur.com/WkxxLMG.jpg);}
.list-item .data.image a[href*="/11123/"]:before {background-image: url( http://i.imgur.com/onZZRjk.jpg);}
.list-item .data.image a[href*="/11135/"]:before {background-image: url( http://i.imgur.com/TzsTA8w.jpg);}
.list-item .data.image a[href*="/11266/"]:before {background-image: url( http://i.imgur.com/1e2YF0Z.jpg);}
.list-item .data.image a[href*="/11447/"]:before {background-image: url( http://i.imgur.com/dg40KPZ.png);}
.list-item .data.image a[href*="/11633/"]:before {background-image: url( http://i.imgur.com/AZ70KDd.jpg);}
.list-item .data.image a[href*="/11665/"]:before {background-image: url(http://i.imgur.com/oN4Wu7O.jpg);}
.list-item .data.image a[href*="/11737/"]:before {background-image: url( http://i.imgur.com/0TJ6M2i.jpg);}
.list-item .data.image a[href*="/11739/"]:before {background-image: url(http://i.imgur.com/ih8YZNv.jpg);}
.list-item .data.image a[href*="/11757/"]:before {background-image: url(http://i.imgur.com/FWpWubq.jpg);}
.list-item .data.image a[href*="/11771/"]:before {background-image: url(http://i.imgur.com/IYjNdgd.jpg);}
.list-item .data.image a[href*="/11843/"]:before {background-image: url( http://i.imgur.com/kCeZ220.jpg);}
.list-item .data.image a[href*="/12137/"]:before {background-image: url( http://i.imgur.com/gI0TXCj.jpg);}
.list-item .data.image a[href*="/12189/"]:before {background-image: url( http://i.imgur.com/8sUJcNP.jpg);}
.list-item .data.image a[href*="/12413/"]:before {background-image: url( http://i.imgur.com/0Uwfgpa.jpg);}
.list-item .data.image a[href*="/12531/"]:before {background-image: url( http://i.imgur.com/NxdLhPg.jpg);}
.list-item .data.image a[href*="/12695/"]:before {background-image: url( http://i.imgur.com/ZIojUaQ.jpg);}
.list-item .data.image a[href*="/12815/"]:before {background-image: url( http://i.imgur.com/UmiP4an.jpg);}
.list-item .data.image a[href*="/12865/"]:before {background-image: url( http://i.imgur.com/pc8zaa4.jpg);}
.list-item .data.image a[href*="/12879/"]:before {background-image: url( http://i.imgur.com/Fr2zFq6.jpg);}
.list-item .data.image a[href*="/13255/"]:before {background-image: url( http://i.imgur.com/VMQX9HA.jpg);}
.list-item .data.image a[href*="/13331/"]:before {background-image: url( http://i.imgur.com/NOMuUgP.jpg);}
.list-item .data.image a[href*="/13409/"]:before {background-image: url( http://i.imgur.com/qAbSv4i.jpg);}
.list-item .data.image a[href*="/13513/"]:before {background-image: url( http://i.imgur.com/MWLXKHZ.png);}
.list-item .data.image a[href*="/13585/"]:before {background-image: url( http://i.imgur.com/vhlOjBb.jpg);}
.list-item .data.image a[href*="/13601/"]:before {background-image: url( http://i.imgur.com/o5zvAsy.jpg);}
.list-item .data.image a[href*="/13629/"]:before {background-image: url( http://i.imgur.com/Ai4faoQ.png);}
.list-item .data.image a[href*="/13675/"]:before {background-image: url( http://i.imgur.com/36goFKW.jpg);}
.list-item .data.image a[href*="/13691/"]:before {background-image: url( http://i.imgur.com/DgHvuJy.jpg);}
.list-item .data.image a[href*="/13833/"]:before {background-image: url( http://i.imgur.com/kZxi4PM.jpg);}
.list-item .data.image a[href*="/13835/"]:before {background-image: url(http://i.imgur.com/Eb5caAY.jpg);}
.list-item .data.image a[href*="/13971/"]:before {background-image: url( http://i.imgur.com/j0kc0Dg.jpg);}
.list-item .data.image a[href*="/14227/"]:before {background-image: url( http://i.imgur.com/KoaNj2j.jpg);}
.list-item .data.image a[href*="/14397/"]:before {background-image: url( http://i.imgur.com/Rf9u1xn.jpg);}
.list-item .data.image a[href*="/14467/"]:before {background-image: url( http://i.imgur.com/bYGuw5w.jpg);}
.list-item .data.image a[href*="/14627/"]:before {background-image: url( http://i.imgur.com/ROGJqAj.jpg);}
.list-item .data.image a[href*="/14713/"]:before {background-image: url(https://imgur.com/gallery/zXY8v);}
.list-item .data.image a[href*="/14921/"]:before {background-image: url( http://i.imgur.com/rzaprwT.jpg);}
.list-item .data.image a[href*="/15021/"]:before {background-image: url( http://i.imgur.com/JoGTw0y.jpg);}
.list-item .data.image a[href*="/15043/"]:before {background-image: url( http://i.imgur.com/VEPjiyC.jpg);}
.list-item .data.image a[href*="/15085/"]:before {background-image: url( http://i.imgur.com/PBE8tyK.jpg);}
.list-item .data.image a[href*="/15109/"]:before {background-image: url(http://i.imgur.com/fo5UARh.jpg);}
.list-item .data.image a[href*="/15225/"]:before {background-image: url( http://i.imgur.com/xbjBGLX.jpg);}
.list-item .data.image a[href*="/15291/"]:before {background-image: url(http://i.imgur.com/GY6fVF7.png?1);}
.list-item .data.image a[href*="/15389/"]:before {background-image: url(http://i.imgur.com/CZFGBPr.jpg);}
.list-item .data.image a[href*="/15379/"]:before {background-image: url( http://i.imgur.com/crWwKcx.jpg);}
.list-item .data.image a[href*="/15417/"]:before {background-image: url(http://i.imgur.com/7Ye3rii.jpg);}
.list-item .data.image a[href*="/15605/"]:before {background-image: url(http://i.imgur.com/WrgGcbe.jpg);}
.list-item .data.image a[href*="/15613/"]:before {background-image: url( http://i.imgur.com/VNhv0XU.jpg);}
.list-item .data.image a[href*="/16149/"]:before {background-image: url( http://i.imgur.com/RFjIHBR.jpg);}
.list-item .data.image a[href*="/16169/"]:before {background-image: url( http://i.imgur.com/k1RzEPl.jpg);}
.list-item .data.image a[href*="/16201/"]:before {background-image: url( http://i.imgur.com/4bjMWOG.jpg);}
.list-item .data.image a[href*="/16417/"]:before {background-image: url( http://i.imgur.com/oRgwftR.jpg);}
.list-item .data.image a[href*="/16636/"]:before {background-image: url( http://i.imgur.com/MKf9yeT.jpg);}
.list-item .data.image a[href*="/16662/"]:before {background-image: url(http://i.imgur.com/didcJuZ.jpg);}
.list-item .data.image a[href*="/16664/"]:before {background-image: url( http://i.imgur.com/ZdlpEFH.jpg);}
.list-item .data.image a[href*="/16782/"]:before {background-image: url( http://i.imgur.com/J7vV21H.jpg);}
.list-item .data.image a[href*="/16870/"]:before {background-image: url( http://i.imgur.com/1ucrUPa.jpg);}
.list-item .data.image a[href*="/16890/"]:before {background-image: url(http://i.imgur.com/tXWKYdc.jpg);}
.list-item .data.image a[href*="/16904/"]:before {background-image: url( http://i.imgur.com/Px9euyx.jpg);}
.list-item .data.image a[href*="/16916/"]:before {background-image: url( http://i.imgur.com/HQ9OK9R.png);}
.list-item .data.image a[href*="/16918/"]:before {background-image: url(http://i.imgur.com/kY3Sems.jpg);}
.list-item .data.image a[href*="/17076/"]:before {background-image: url( http://i.imgur.com/sWMHGtC.jpg);}
.list-item .data.image a[href*="/17082/"]:before {background-image: url( http://i.imgur.com/hCRuCxx.jpg);}
.list-item .data.image a[href*="/17205/"]:before {background-image: url( http://i.imgur.com/eZppcqx.jpg);}
.list-item .data.image a[href*="/17273/"]:before {background-image: url( http://i.imgur.com/nv3HUcV.jpg);}
.list-item .data.image a[href*="/17341/"]:before {background-image: url(http://i.imgur.com/TNJnt9E.jpg);}
.list-item .data.image a[href*="/17351/"]:before {background-image: url( http://i.imgur.com/TP8EsPW.jpg);}
.list-item .data.image a[href*="/17371/"]:before {background-image: url( http://i.imgur.com/DY1O4GL.jpg);}
.list-item .data.image a[href*="/17395/"]:before {background-image: url( http://i.imgur.com/gI0DWp1.jpg);}
.list-item .data.image a[href*="/17549/"]:before {background-image: url( http://i.imgur.com/7kBpWju.jpg);}
.list-item .data.image a[href*="/17513/"]:before {background-image: url(http://i.imgur.com/KnYAC38.jpg);}
.list-item .data.image a[href*="/17741/"]:before {background-image: url(http://i.imgur.com/mjalCfC.jpg);}
.list-item .data.image a[href*="/17819/"]:before {background-image: url( http://i.imgur.com/4ryK232.jpg);}
.list-item .data.image a[href*="/17849/"]:before {background-image: url( http://i.imgur.com/lzrvDva.jpg);}
.list-item .data.image a[href*="/17909/"]:before {background-image: url( http://i.imgur.com/yM51An9.jpg);}
.list-item .data.image a[href*="/18119/"]:before {background-image: url( http://i.imgur.com/KO709KD.jpg);}
.list-item .data.image a[href*="/18179/"]:before {background-image: url( http://i.imgur.com/FR82CTl.jpg);}
.list-item .data.image a[href*="/18795/"]:before {background-image: url( http://i.imgur.com/Vpdk0ue.jpg);}
.list-item .data.image a[href*="/19211/"]:before {background-image: url( http://i.imgur.com/ECrTWwQ.jpg);}
.list-item .data.image a[href*="/19297/"]:before {background-image: url(http://i.imgur.com/oaDbWOE.jpg);}
.list-item .data.image a[href*="/19945/"]:before {background-image: url( http://i.imgur.com/Q2FjLu0.png);}
.list-item .data.image a[href*="/19953/"]:before {background-image: url( http://i.imgur.com/6dNhD1L.jpg);}
.list-item .data.image a[href*="/20057/"]:before {background-image: url( http://i.imgur.com/amqVSor.png);}
.list-item .data.image a[href*="/20365/"]:before {background-image: url( http://i.imgur.com/yIrVxWs.jpg);}
.list-item .data.image a[href*="/20505/"]:before {background-image: url(http://i.imgur.com/3nJOKrk.jpg);}
.list-item .data.image a[href*="/20507/"]:before {background-image: url( http://i.imgur.com/Hcd4PG0.jpg);}
.list-item .data.image a[href*="/20541/"]:before {background-image: url( http://i.imgur.com/rSIRpkm.jpg);}
.list-item .data.image a[href*="/20583/"]:before {background-image: url( http://i.imgur.com/BLlF4a6.jpg);}
.list-item .data.image a[href*="/20613/"]:before {background-image: url( http://i.imgur.com/nmKw15G.png);}
.list-item .data.image a[href*="/20903/"]:before {background-image: url( http://i.imgur.com/Nn8P0ws.jpg);}
.list-item .data.image a[href*="/21041/"]:before {background-image: url( http://i.imgur.com/DvUTDs5.png);}
.list-item .data.image a[href*="/21105/"]:before {background-image: url( http://i.imgur.com/0aGg80m.jpg);}
.list-item .data.image a[href*="/21201/"]:before {background-image: url(http://i.imgur.com/kV5QJcM.jpg);}
.list-item .data.image a[href*="/21427/"]:before {background-image: url(http://i.imgur.com/rGvLoKE.jpg);}
.list-item .data.image a[href*="/21435/"]:before {background-image: url( http://i.imgur.com/q3b5pw9.jpg);}
.list-item .data.image a[href*="/21441/"]:before {background-image: url( http://i.imgur.com/cDqUe0B.jpg);}
.list-item .data.image a[href*="/21557/"]:before {background-image: url( http://i.imgur.com/IviUlqb.jpg);}
.list-item .data.image a[href*="/21647/"]:before {background-image: url( http://i.imgur.com/FelpChA.jpg);}
.list-item .data.image a[href*="/21667/"]:before {background-image: url( http://i.imgur.com/y2TTXCD.jpg);}
.list-item .data.image a[href*="/21863/"]:before {background-image: url( http://i.imgur.com/XtTVflC.jpg);}
.list-item .data.image a[href*="/21899/"]:before {background-image: url( http://i.imgur.com/uk45mIs.jpg);}
.list-item .data.image a[href*="/22145/"]:before {background-image: url( http://i.imgur.com/MJ4rXxw.jpg);}
.list-item .data.image a[href*="/22157/"]:before {background-image: url( http://i.imgur.com/a7RIYvS.png);}
.list-item .data.image a[href*="/22161/"]:before {background-image: url( http://i.imgur.com/TQFxn5o.jpg);}
.list-item .data.image a[href*="/22173/"]:before {background-image: url( http://i.imgur.com/jrATBRt.jpg);}
.list-item .data.image a[href*="/22179/"]:before {background-image: url( http://i.imgur.com/7LMRLwJ.jpg);}
.list-item .data.image a[href*="/22319/"]:before {background-image: url(http://i.imgur.com/zWRW2K5.jpg);}
.list-item .data.image a[href*="/22335/"]:before {background-image: url( http://i.imgur.com/ehAZKyx.jpg);}
.list-item .data.image a[href*="/22535/"]:before {background-image: url(http://i.imgur.com/1isApRz.jpg);}
.list-item .data.image a[href*="/22687/"]:before {background-image: url( http://i.imgur.com/7Alu4uO.jpg);}
.list-item .data.image a[href*="/22729/"]:before {background-image: url(http://i.imgur.com/HgLkvuT.jpg);}
.list-item .data.image a[href*="/22789/"]:before {background-image: url( http://i.imgur.com/VwpzikN.jpg);}
.list-item .data.image a[href*="/23061/"]:before {background-image: url( http://i.imgur.com/r2g9ake.jpg);}
.list-item .data.image a[href*="/23199/"]:before {background-image: url( http://i.imgur.com/cVHI81N.jpg);}
.list-item .data.image a[href*="/23227/"]:before {background-image: url( http://i.imgur.com/Z9EleFQ.jpg);}
.list-item .data.image a[href*="/23251/"]:before {background-image: url( http://i.imgur.com/zm1Rxt0.jpg);}
.list-item .data.image a[href*="/23281/"]:before {background-image: url( http://i.imgur.com/AyNUPiZ.jpg);}
.list-item .data.image a[href*="/23283/"]:before {background-image: url( http://i.imgur.com/QFDQ8gw.jpg);}
.list-item .data.image a[href*="/23289/"]:before {background-image: url( http://i.imgur.com/6K2Lh0M.jpg);}
.list-item .data.image a[href*="/23317/"]:before {background-image: url( http://i.imgur.com/VkHjDBz.jpg);}
.list-item .data.image a[href*="/23319/"]:before {background-image: url( http://i.imgur.com/UGTPuC4.jpg);}
.list-item .data.image a[href*="/23333/"]:before {background-image: url( http://i.imgur.com/XgREG92.jpg);}
.list-item .data.image a[href*="/23369/"]:before {background-image: url( http://i.imgur.com/b3437AO.jpg);}
.list-item .data.image a[href*="/23399/"]:before {background-image: url( http://i.imgur.com/qA6ehiB.png);}
.list-item .data.image a[href*="/23623/"]:before {background-image: url( http://i.imgur.com/NsyKICr.jpg);}
.list-item .data.image a[href*="/23835/"]:before {background-image: url( http://i.imgur.com/AwOcXva.jpg);}
.list-item .data.image a[href*="/23877/"]:before {background-image: url( http://i.imgur.com/cAWcki9.jpg);}
.list-item .data.image a[href*="/24619/"]:before {background-image: url( http://i.imgur.com/7PNrsiq.jpg);}
.list-item .data.image a[href*="/24833/"]:before {background-image: url( http://i.imgur.com/Z37Du9N.jpg);}
.list-item .data.image a[href*="/24935/"]:before {background-image: url( http://i.imgur.com/tb9FkYG.jpg);}
.list-item .data.image a[href*="/25045/"]:before {background-image: url( http://i.imgur.com/9UMK7tH.jpg);}
.list-item .data.image a[href*="/25183/"]:before {background-image: url( http://i.imgur.com/AAI1HMS.jpg);}
.list-item .data.image a[href*="/25291/"]:before {background-image: url( http://i.imgur.com/AZF1KeK.png);}
.list-item .data.image a[href*="/25303/"]:before {background-image: url(http://i.imgur.com/rRk6omy.jpg);}
.list-item .data.image a[href*="/25567/"]:before {background-image: url( http://i.imgur.com/a042sNx.jpg);}
.list-item .data.image a[href*="/25649/"]:before {background-image: url( http://i.imgur.com/gfvDDR1.jpg);}
.list-item .data.image a[href*="/25681/"]:before {background-image: url(https://imgur.com/x7zD0F1.jpg);}
.list-item .data.image a[href*="/25781/"]:before {background-image: url( http://i.imgur.com/PtfekpP.jpg);}
.list-item .data.image a[href*="/25801/"]:before {background-image: url( http://i.imgur.com/HCCVXfn.jpg);}
.list-item .data.image a[href*="/25839/"]:before {background-image: url( http://i.imgur.com/dK5hOqH.jpg);}
.list-item .data.image a[href*="/25879/"]:before {background-image: url( http://i.imgur.com/fOvL52N.jpg);}
.list-item .data.image a[href*="/25883/"]:before {background-image: url( http://i.imgur.com/bDxH06e.jpg);}
.list-item .data.image a[href*="/26349/"]:before {background-image: url( http://i.imgur.com/5Vv9EkW.jpg);}
.list-item .data.image a[href*="/27619/"]:before {background-image: url( http://i.imgur.com/ADOjKHC.jpg);}
.list-item .data.image a[href*="/27633/"]:before {background-image: url( http://i.imgur.com/xo7V2YV.jpg);}
.list-item .data.image a[href*="/27655/"]:before {background-image: url(http://i.imgur.com/lb7wgGS.jpg);}
.list-item .data.image a[href*="/27831/"]:before {background-image: url(http://i.imgur.com/8Y2cv2V.jpg);}
.list-item .data.image a[href*="/27833/"]:before {background-image: url(http://i.imgur.com/fqgZVvn.jpg);}
.list-item .data.image a[href*="/27899/"]:before {background-image: url( http://i.imgur.com/j6FYH1c.jpg);}
.list-item .data.image a[href*="/27911/"]:before {background-image: url( http://i.imgur.com/w8tyTm2.jpg);}
.list-item .data.image a[href*="/27945/"]:before {background-image: url( http://i.imgur.com/ETgpB1W.jpg);}
.list-item .data.image a[href*="/27991/"]:before {background-image: url( http://i.imgur.com/hdUcqnC.jpg);}
.list-item .data.image a[href*="/28223/"]:before {background-image: url( http://i.imgur.com/S2OXQKj.jpg);}
.list-item .data.image a[href*="/28339/"]:before {background-image: url( http://i.imgur.com/Z5Ss2XH.png);}
.list-item .data.image a[href*="/28405/"]:before {background-image: url( http://i.imgur.com/TbY42Q2.jpg);}
.list-item .data.image a[href*="/28607/"]:before {background-image: url( http://i.imgur.com/TZG34YO.jpg);}
.list-item .data.image a[href*="/28639/"]:before {background-image: url( http://i.imgur.com/Q0QPmHa.jpg);}
.list-item .data.image a[href*="/28645/"]:before {background-image: url( http://i.imgur.com/HcMPkqy.jpg);}
.list-item .data.image a[href*="/28735/"]:before {background-image: url( http://i.imgur.com/78MdKmp.jpg);}
.list-item .data.image a[href*="/28761/"]:before {background-image: url( http://i.imgur.com/xYEItVU.jpg);}
.list-item .data.image a[href*="/28805/"]:before {background-image: url( http://i.imgur.com/zpZWcYK.jpg);}
.list-item .data.image a[href*="/28891/"]:before {background-image: url( http://i.imgur.com/SO99mAk.jpg);}
.list-item .data.image a[href*="/28957/"]:before {background-image: url( http://i.imgur.com/HtHPow1.jpg);}
.list-item .data.image a[href*="/28981/"]:before {background-image: url( http://i.imgur.com/1MQQf4B.jpg);}
.list-item .data.image a[href*="/29067/"]:before {background-image: url( http://i.imgur.com/MVpPGdY.jpg);}
.list-item .data.image a[href*="/29777/"]:before {background-image: url( http://i.imgur.com/QHoz2uF.jpg);}
.list-item .data.image a[href*="/29854/"]:before {background-image: url( http://i.imgur.com/D0yxYMY.jpg);}
.list-item .data.image a[href*="/29957/"]:before {background-image: url( http://i.imgur.com/MMfuzlb.jpg);}
.list-item .data.image a[href*="/29980/"]:before {background-image: url( http://i.imgur.com/UECvGlx.jpg);}
.list-item .data.image a[href*="/30015/"]:before {background-image: url( http://i.imgur.com/z1QaXZG.jpg);}
.list-item .data.image a[href*="/30086/"]:before {background-image: url( http://i.imgur.com/6yjKcNy.jpg);}
.list-item .data.image a[href*="/30187/"]:before {background-image: url( http://i.imgur.com/IwS0bgq.jpg);}
.list-item .data.image a[href*="/30205/"]:before {background-image: url( http://i.imgur.com/BV7p6OS.jpg);}
.list-item .data.image a[href*="/30234/"]:before {background-image: url(http://i.imgur.com/7w0Juew.jpg);}
.list-item .data.image a[href*="/30262/"]:before {background-image: url( http://i.imgur.com/B2zUeKD.jpg);}
.list-item .data.image a[href*="/30346/"]:before {background-image: url( http://i.imgur.com/BFbvRvV.jpg);}
.list-item .data.image a[href*="/30355/"]:before {background-image: url( http://i.imgur.com/IMtGcOU.jpg);}
.list-item .data.image a[href*="/30383/"]:before {background-image: url( http://i.imgur.com/aUbnfL2.jpg);}
.list-item .data.image a[href*="/30739/"]:before {background-image: url( http://i.imgur.com/NwKwgfd.jpg);}
.list-item .data.image a[href*="/30795/"]:before {background-image: url( http://i.imgur.com/vqr7bGa.jpg);}
.list-item .data.image a[href*="/30806/"]:before {background-image: url( http://i.imgur.com/K8YWDtL.jpg);}
.list-item .data.image a[href*="/30859/"]:before {background-image: url( http://i.imgur.com/WvVGXdY.png);}
.list-item .data.image a[href*="/30885/"]:before {background-image: url( http://i.imgur.com/n0d8A4z.jpg);}
.list-item .data.image a[href*="/31043/"]:before {background-image: url( http://i.imgur.com/FIjMdZt.jpg);}
.list-item .data.image a[href*="/31108/"]:before {background-image: url( http://i.imgur.com/wnfYKnw.jpg);}
.list-item .data.image a[href*="/31139/"]:before {background-image: url( http://i.imgur.com/9xjopPl.jpg);}
.list-item .data.image a[href*="/31229/"]:before {background-image: url( http://i.imgur.com/lZtvZk5.jpg);}
.list-item .data.image a[href*="/31240/"]:before {background-image: url( http://i.imgur.com/y8FJeWO.jpg);}
.list-item .data.image a[href*="/31339/"]:before {background-image: url(http://i.imgur.com/oxo9XCV.jpg);}
.list-item .data.image a[href*="/31344/"]:before {background-image: url( http://i.imgur.com/MMNrw8z.jpg);}
.list-item .data.image a[href*="/31376/"]:before {background-image: url( http://i.imgur.com/vqiG0FN.jpg);}
.list-item .data.image a[href*="/31405/"]:before {background-image: url( http://i.imgur.com/0hoB1uE.jpg);}
.list-item .data.image a[href*="/31430/"]:before {background-image: url( http://i.imgur.com/I6yCZCR.jpg);}
.list-item .data.image a[href*="/31478/"]:before {background-image: url( http://i.imgur.com/9oNT2DO.jpg);}
.list-item .data.image a[href*="/31507/"]:before {background-image: url( http://i.imgur.com/RM9wo5y.jpg);}
.list-item .data.image a[href*="/31519/"]:before {background-image: url( http://i.imgur.com/wRDgxKF.jpg);}
.list-item .data.image a[href*="/31540/"]:before {background-image: url( http://i.imgur.com/encE0Vy.jpg);}
.list-item .data.image a[href*="/31551/"]:before {background-image: url( http://i.imgur.com/cOXYYvb.jpg);}
.list-item .data.image a[href*="/31580/"]:before {background-image: url( http://i.imgur.com/D8N8Qd0.jpg);}
.list-item .data.image a[href*="/31636/"]:before {background-image: url(http://i.imgur.com/9ayn3km.jpg);}
.list-item .data.image a[href*="/31675/"]:before {background-image: url( http://i.imgur.com/ptRggD7.jpg);}
.list-item .data.image a[href*="/31680/"]:before {background-image: url( http://i.imgur.com/u8hidHk.jpg);}
.list-item .data.image a[href*="/31687/"]:before {background-image: url( http://i.imgur.com/kB6uaPb.jpg);}
.list-item .data.image a[href*="/31738/"]:before {background-image: url( http://i.imgur.com/tnO8KaN.jpg);}
.list-item .data.image a[href*="/31759/"]:before {background-image: url( http://i.imgur.com/eTCeTW4.jpg);}
.list-item .data.image a[href*="/31771/"]:before {background-image: url( http://i.imgur.com/LQ3wg9D.jpg);}
.list-item .data.image a[href*="/31798/"]:before {background-image: url( http://i.imgur.com/5EfOied.jpg);}
.list-item .data.image a[href*="/31812/"]:before {background-image: url( http://i.imgur.com/5V4eztz.jpg);}
.list-item .data.image a[href*="/31908/"]:before {background-image: url( http://i.imgur.com/LOp4tn6.jpg);}
.list-item .data.image a[href*="/31964/"]:before {background-image: url( http://i.imgur.com/khX0Dyb.jpg);}
.list-item .data.image a[href*="/31972/"]:before {background-image: url( http://i.imgur.com/oMXkaIZ.jpg);}
.list-item .data.image a[href*="/32026/"]:before {background-image: url(http://i.imgur.com/lHRswdx.jpg);}
.list-item .data.image a[href*="/32093/"]:before {background-image: url( http://i.imgur.com/BnK3oMo.jpg);}
.list-item .data.image a[href*="/32175/"]:before {background-image: url( http://i.imgur.com/woU6wCJ.jpg);}
.list-item .data.image a[href*="/32182/"]:before {background-image: url( http://i.imgur.com/t3Sjwgv.jpg);}
.list-item .data.image a[href*="/32245/"]:before {background-image: url( http://i.imgur.com/mX6PTnM.jpg);}
.list-item .data.image a[href*="/32281/"]:before {background-image: url(http://i.imgur.com/pHzo8Rg.jpg);}
.list-item .data.image a[href*="/32289/"]:before {background-image: url( http://i.imgur.com/03T5vuL.jpg);}
.list-item .data.image a[href*="/32309/"]:before {background-image: url( http://i.imgur.com/K9YTZtU.jpg);}
.list-item .data.image a[href*="/32311/"]:before {background-image: url( http://i.imgur.com/jezeT5f.jpg);}
.list-item .data.image a[href*="/32366/"]:before {background-image: url( http://i.imgur.com/LpxjcUz.jpg);}
.list-item .data.image a[href*="/32438/"]:before {background-image: url( http://i.imgur.com/uTt8uSf.jpg);}
.list-item .data.image a[href*="/32491/"]:before {background-image: url(http://i.imgur.com/FKUUUwz.jpg);}
.list-item .data.image a[href*="/32547/"]:before {background-image: url( http://i.imgur.com/icjDc1t.jpg);}
.list-item .data.image a[href*="/32564/"]:before {background-image: url( http://i.imgur.com/4LA1ewh.jpg);}
.list-item .data.image a[href*="/32588/"]:before {background-image: url( http://i.imgur.com/e9UtkK1.jpg);}
.list-item .data.image a[href*="/32648/"]:before {background-image: url(http://i.imgur.com/8u73TNg.jpg);}
.list-item .data.image a[href*="/32664/"]:before {background-image: url( http://i.imgur.com/YgDzRsZ.jpg);}
.list-item .data.image a[href*="/32681/"]:before {background-image: url( http://i.imgur.com/08X1CRU.jpg);}
.list-item .data.image a[href*="/32684/"]:before {background-image: url( http://i.imgur.com/NZpF5Lu.jpg);}
.list-item .data.image a[href*="/32696/"]:before {background-image: url( http://i.imgur.com/61ms8Cj.jpg);}
.list-item .data.image a[href*="/32699/"]:before {background-image: url(http://i.imgur.com/CVszJhX.jpg);}
.list-item .data.image a[href*="/32739/"]:before {background-image: url( http://i.imgur.com/ZtEY4FU.jpg);}
.list-item .data.image a[href*="/32813/"]:before {background-image: url( http://i.imgur.com/vURlKy1.jpg);}
.list-item .data.image a[href*="/32828/"]:before {background-image: url(http://i.imgur.com/3KHQpAu.jpg);}
.list-item .data.image a[href*="/32829/"]:before {background-image: url( http://i.imgur.com/AAqHhvF.jpg);}
.list-item .data.image a[href*="/32935/"]:before {background-image: url( http://i.imgur.com/hcInzhU.png);}
.list-item .data.image a[href*="/32948/"]:before {background-image: url(http://i.imgur.com/c9zjzDq.jpg);}
.list-item .data.image a[href*="/32954/"]:before {background-image: url( http://i.imgur.com/3GhHYSX.jpg);}
.list-item .data.image a[href*="/32977/"]:before {background-image: url( http://i.imgur.com/tHmMBUe.jpg);}
.list-item .data.image a[href*="/32995/"]:before {background-image: url(http://i.imgur.com/U6fL8hf.jpg);}
.list-item .data.image a[href*="/33004/"]:before {background-image: url( http://i.imgur.com/Cv38p8M.jpg);}
.list-item .data.image a[href*="/33094/"]:before {background-image: url( http://i.imgur.com/cxdNynv.jpg);}
.list-item .data.image a[href*="/33222/"]:before {background-image: url( http://i.imgur.com/4tHRXFr.jpg);}
.list-item .data.image a[href*="/33491/"]:before {background-image: url( http://i.imgur.com/K9CCsi3.jpg);}
.list-item .data.image a[href*="/33548/"]:before {background-image: url( http://i.imgur.com/YLSgIaX.jpg);}
.list-item .data.image a[href*="/33569/"]:before {background-image: url( http://i.imgur.com/DVBAy0Z.jpg);}
.list-item .data.image a[href*="/33681/"]:before {background-image: url(http://i.imgur.com/TxrccZh.jpg);}
.list-item .data.image a[href*="/33814/"]:before {background-image: url(http://i.imgur.com/JGS03sv.jpg?1);}
.list-item .data.image a[href*="/33902/"]:before {background-image: url( http://i.imgur.com/ritloNo.jpg);}
.list-item .data.image a[href*="/34085/"]:before {background-image: url(http://i.imgur.com/6JoiD5K.jpg);}
.list-item .data.image a[href*="/34173/"]:before {background-image: url( http://i.imgur.com/pApbsuF.jpg);}
.list-item .data.image a[href*="/34534/"]:before {background-image: url(https://i.imgur.com/xVYs0UO.jpg);}
